<%- include("../includes/header.ejs") %>
  </head>
  <body>

	<%- include("../includes/top-nav.ejs") %>
	
	<%- include("../includes/main-nav.ejs") %> 
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
          	<p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Login <i class="fa fa-chevron-right"></i></span></p>
            <h2 class="mb-0 bread">Login</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
          <div class="col-xl-10 ftco-animate">

			  <!-- <!%- include("../partials/messages.ejs")  %>  -->
			<% if(errorMessage){ %> 
				<%- include("../includes/messages.ejs")  %> 
			<% } %> 
			<form method="POST" action="/login" class="billing-form">
	          	<div class="row align-items-end">
					<div class="w-100"></div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="emailaddress">Email Address</label>
						  <input type="email" name="email" class="form-control" placeholder="Email Address">
						</div>
					</div>
		            <div class="col-md-12">
		            	<div class="form-group">
	                	<label for="password">Password</label>
	                  <input type="password" class="form-control" name="password" placeholder="* * * * * *">
	                </div>
		            </div>
                <div class="w-100"></div>
                <div class="col-md-12">
                	<div class="form-group mt-4">
                		<div class="radio">
                			<label class="mr-3"> Don't have an Account? <a href="/signup" class="">Sign Up</a></label>
                		</div>
                	</div>
                </div>
				</div>
				<input type="hidden" name="_csrf" value="<%= csrfToken %>">
				<button class="btn btn-primary py-3 px-5">Login</button>
	          </form><!-- END -->

          </div> <!-- .col-md-8 -->
        </div>
    	</div>
    </section>

	<%- include("../includes/footer.ejs") %> 
    <%- include("../includes/loader.ejs") %> 
	<%- include("../includes/scripts.ejs") %> 	
    
  </body>
</html>