<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Liquor <span>store</span></a>
      <% if(isAuthenticated){ %> 
      <div class="order-lg-last btn-group">
      <a href="#" class="btn-cart dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="flaticon-shopping-bag"></span>
          <% if(totalCartQuantity!=null){ %> 
            <div class="d-flex justify-content-center align-items-center"><small id="totalCart"><%= totalCartQuantity %></small></div>
          <% } %> 
      </a>
      <% if(topNavCart!=null){ %> 
      <div class="dropdown-menu topNavCart dropdown-menu-right parent-cart">
          <% for(product of topNavCart){ %> 
                <div class="items-in-cart dropdown-item d-flex align-items-start" href="#">
                    <div class="img" style="background-image: url('<%= product.productId.imageurl %>');"></div>
                    <div class="text pl-3">
                        <h4><%= product.productId.title %></h4>
                        <p class="mb-0"><a href="#" class="price">$<%= product.productId.unitprice %></a><span class="quantity ml-3">Quantity: 0<%= product.quantity %></span></p>
                    </div>
                </div>
            <% } %> 
                <a class="dropdown-item text-center btn-link d-block w-100" href="/cart">
                    View All
                    <span class="ion-ios-arrow-round-forward"></span>
                </a>
        </div>
        <% } %> 
    </div>
    <% } %> 

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item <%= path=='/'?'active':'' %>"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item <%= path=='/about'?'active':'' %>"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item <%= path=='/products'?'active':'' %>"><a href="/products" class="nav-link">Products</a></li>
          <li class="nav-item <%= path=='/contact'?'active':'' %>"><a href="/contact" class="nav-link">Contact</a></li>
          <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="product.html">Products</a>
            <a class="dropdown-item" href="product-single.html">Single Product</a>
            <a class="dropdown-item" href="cart.html">Cart</a>
            <a class="dropdown-item" href="checkout.html">Checkout</a>
          </div>
        </li> -->
        </ul>
      </div>
    </div>
  </nav>