<%- include("./includes/header.ejs") %>
  </head>
  <body>

	<%- include("./includes/top-nav.ejs") %>
	
        
<section class="checkout-body">
    <div class="d-flex mx-auto main-container">
        <div class="left-side w-100">
            <small id="co-text">CHECKOUT</small>

            <div class="address w-100 mb-2">
                <div class="address-top d-flex justify-content-between w-100 py-2 px-3">
                    <div class="d-flex align-items-center">
                        <img class="mr-3" src="./images/check (1).png" width="15" alt="">
                        <!-- <span style="color: rgb(0, 196, 0); font-size: larger;" class="bx bx-radio-circle-marked mr-3"></span> -->
                        <span class="box-heading">1. ADDRESS DETAILS</span>
                    </div>
                    <a style="color: #b7472a;" class="box-heading" href="#">CHANGE</a>
                </div>
                <div class="address-bottom py-3 px-5">
                    <span class="box-heading"><%= user.details.firstname %> <%= user.details.lastname %></span><br>
                    <span class="small-grey"><%= user.details.address %>, <%= user.details.city %>, <%= user.details.country %></span><br>
                    <span class="small-grey">+234<%= user.details.phone %></span>
                </div>
            </div>

            <div class="delivery pb-2 w-100 mb-2">
                <div class="delivery-method w-100">
                    <div class="delivery-top d-flex justify-content-between w-100 py-2 px-3">
                        <div class="d-flex align-items-center">
                            <% if(data.paym){ %>
                                <img class="mr-3" src="./images/check (1).png" width="15" alt="">
                            <% }else{ %>  
                            <img style="opacity: 0.3;" class="mr-3" src="./images/check (2).png" width="15" alt="">
                            <% } %> 
                            <!-- <span style="color: #999999; font-size: larger;" class="bx bx-radio-circle mr-3"></span> -->
                            <span class="box-heading">2. DELIVERY METHOD</span>
                        </div>
                    </div>
                    <div class="delivery-bottom py-3 px-5">
                        <span class="box-heading">Door Delivery</span><br>
                        <span class="small-grey">Delivered between <span class="delivery-date">Monday 7 Dec</span> and <span class="delivery-date">Wed 9 Dec</span></span>
                    </div>
                </div>
                
                <% if(!data.paym){ %> 
                <div class="shipment-details pb-2 w-100">
                    <div class="shipment-top pt-3 pb-2 px-5">
                        <span class="box-heading">Shipment Details</span><br>
                    </div>
                    <% var total = 0;
                       var quantity = 0;
                    for(var i=0; i<data.shipment.length; i++){ %> 
                        <div class="my-border mx-auto"></div>
                    <div class="shipment-info px-5 mb-2">
                        <span class="small-grey">Shipment <span class="delivery-date"><%= i+1 %></span> of <span class="delivery-date"><%= data.shipment.length %></span> </span><br>
                        <span class="small-grey"><span class="shipment-q delivery-date"><%= data.shipment[i].quantity %>x</span> <%= data.shipment[i].name %></span><br>
                        <%#<span class="small-grey">Delivered between <span class="delivery-date">Monday 7 Dec</span> and <span class="delivery-date">Wed 9 Dec</span>%>
                    </div>
                    <% total += data.shipment[i].price*data.shipment[i].quantity;
                       quantity += data.shipment[i].quantity;
                    } %> 
                </div>
                <div class="my-border mx-auto"></div>
                <div class="checkout-total px-5 py-2 w-100">
                    <div class="subtotal d-flex justify-content-between">
                        <span class="dark-grey">Subtotal</span>
                        <span class="small-grey delivery-date">$ <%= total %>.00 USD</span>
                    </div>
                    <div class="delivery-fee d-flex justify-content-between">
                        <span class="dark-grey">Delivery Fee</span>
                        <span class="small-grey delivery-date">$ <%= quantity*10 %>.00 USD</span>
                    </div>
                    <div class="my-border w-100 mx-auto my-2"></div>
                    <div class="main-total d-flex justify-content-between">
                        <span class="dark-grey">Total</span><br>
                        <span style="color: #b7472a; font-size: 16px;" class="small-grey delivery-date">$ <%= total+(quantity*10) %>.00 USD</span>
                    </div>
                    <span class="small-grey d-flex justify-content-around pt-2"><small>You'll be able to add a voucher in the next step</small></span>
                </div>
                <div class="checkout-btn d-flex justify-content-around py-2 px-5">
                    <a class="btn w-100" href="/checkout?paym=true"><button class="btn">PROCEED TO NEXT STEP</button></a>
                </div>
                <% } %> 
            </div>
            <div class="payment-method w-100 mb-2 pb-2">
                <div class="payment-method-top d-flex justify-content-between w-100 py-2 px-3">
                    <div class="d-flex align-items-center">
                        <img style="opacity: 0.3;" class="mr-3" src="./images/check (2).png" width="15" alt="">
                        <!-- <span style="font-size: larger;" class="bx bx-radio-circle mr-3"></span> -->
                        <span class="box-heading">3. PAYMENT METHOD</span>
                    </div>
                </div>
            <% if(data.paym){ %>     
                <div class="payment-method-bottom px-5 py-3">
                    <span class="box-heading">Cash on Delivery</span><br>
                    <span class="small-grey"><span class="delivery-date">NOTE:</span> Kindly note that you would have to make payment before opening your package.</span>
                </div>
                
                <div class="voucher-box px-5 pt-3 w-100">
                    <span class="box-heading">Got a voucher / SureGifts voucher? Use it below:</span>
                    <form action="" class="form-group d-flex w-100">
                        <input type="text" class="form-control w-75 enter-voucher" placeholder="Enter voucher / SureGifts code here">
                        <button class="btn add-voucher w-25">ADD VOUCHER</button>
                    </form>
                </div>
                <div class="checkout-total px-5 py-3 w-100">
                    <div class="subtotal d-flex justify-content-between">
                        <% var total = 0;
                           var quantity = 0;
                        for(var i=0; i<data.shipment.length; i++){
                            total += data.shipment[i].price*data.shipment[i].quantity;
                            quantity += data.shipment[i].quantity;
                        } 
                        %> 
                        <span class="dark-grey">Subtotal</span>
                        <span class="small-grey delivery-date">$ <%= total %>.00 USD</span>
                    </div>
                    <div class="delivery-fee d-flex justify-content-between">
                        <span class="dark-grey">Delivery Fee</span>
                        <span class="small-grey delivery-date">$ <%= quantity*10 %>.00 USD</span>
                    </div>
                    <div class="my-border w-100 mx-auto my-2"></div>
                    <div class="main-total d-flex justify-content-between">
                        <span class="dark-grey">Total</span><br>
                        <span style="color: #b7472a; font-size: 16px;" class="small-grey delivery-date">$ <%= total+(quantity*10) %>.00 USD</span>
                    </div>
                </div>
                <div class="checkout-btn d-flex justify-content-around py-2 px-5">
                    <button type="submit" class="btn w-100 p-3 confirm-order">CONFIRM ORDER</button>
                </div>
            <% } %> 
            </div>
        </div>
        
        <!-- <div class="right-side w-25 ml-2">
            <small id="co-text">ORDER SUMMARY</small>
        </div> -->
    </div>
</section>
    
	<%- include("./includes/footer.ejs") %> 
	<%- include("./includes/scripts.ejs") %> 	
    <script>
        document.querySelector(".confirm-order").addEventListener("click", ()=>{
            alertify.confirm('Confirm Title', "<span class='dark-grey'>Are you sure you want to confirm order?<span>", ()=>{
                $.ajax({
                    url: "/submit-order",
                    type: "post",
                    dataType: 'JSON',
                    success: function(response){
                        window.location.replace("/confirm-order?id="+response)
                    },
                    error: function(){
                        alert("An error occured")
                    }
    	        })
            }, ()=>{
            }).setHeader("")
        })
    </script>
  </body>
</html>